server:
  port: 7001
eureka:
  instance:
    hostname: eureka7001.com #设置Eureka的服务端的实例名称


  client:
    register-with-eureka: false #表示不向注册中心注册自己,默认是true ,表明自己是注册中心,不注册自己
    fetch-registry: false #表示自己端是注册中心,我的职责是维护服务实例,并不需要去检索服务,
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka/ #设置Eureka server的外部访问地
spring:
  profiles: dev


---

server:
  port: 7002
eureka:
  instance:
    hostname: eureka7002.com #设置Eureka的服务端的实例名称


  client:
    register-with-eureka: false #表示不向注册中心注册自己,默认是true ,表明自己是注册中心,不注册自己
    fetch-registry: false #表示自己端是注册中心,我的职责是维护服务实例,并不需要去检索服务,
    service-url:
      defaultZone: http://eureka7002.com:7002/eureka/ #设置Eureka server的外部访问地址
spring:
  profiles: test
